{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
{% if errors and (errors.addressLine1 or errors.town or errors.postcode) %}Error: {% endif %}Enter your address – Space travel service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: "/fullname"
    }) }}

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form method="post" action="/address" novalidate>
      <h1 class="govuk-heading-l">
        What is your address?
      </h1>

      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "address-line-1",
        name: "addressLine1",
        autocomplete: "address-line1",
        value: data.addressLine1,
        errorMessage: errors.addressLine1 if errors and errors.addressLine1
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "address-line-2",
        name: "addressLine2",
        autocomplete: "address-line2",
        value: data.addressLine2
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        id: "town",
        name: "town",
        autocomplete: "address-level2",
        value: data.town,
        errorMessage: errors.town if errors and errors.town
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "postcode",
        name: "postcode",
        autocomplete: "postal-code",
        value: data.postcode,
        errorMessage: errors.postcode if errors and errors.postcode
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}