{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Space travel service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Space travel service
    </h1>

    <p class="govuk-body">
      Use this service to book your space journey.
    </p>

    <p class="govuk-body">
      You can choose between travelling to the Moon or Mars.
    </p>

    {{ govukButton({
      text: "Start now",
      href: "/start",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
